.contenedor{
    background-color: white;
    padding: 4%;
    margin: 0 auto;
    margin-top: 10%;

}

#Iniciar sesion{
    font-size: 35px;
    color: rgb(173, 173, 173);
}
body{
    background-color: rgb(233, 233, 233) ;
}

#enviar{
    font-size: 30px;
    text-align: center;
    background: white;
    color: rgb(43, 43, 43);
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid rgb(56, 56, 56);
}
#enviar:hover {
    background: rgb(114, 114, 114);
    color: white;
}

#divenviar{ 
    padding-top: 4%;
  text-align: center;
}
#passwd{
    font-size: 17px;
}
#nombre{
    font-size: 17px;
}

button{
    cursor:pointer;
}