body{
   background-color: rgb(233, 233, 233) ;
}
.contenedor{
    text-align: center;
    padding: 5%;
    padding-bottom: 3%;
    background-color: white;
    margin: 0 auto;
    margin-top: 5%;

}
.lista{
    font-size: 12px;

}

#registrarse{
    font-size: 35px;
    color: rgb(165, 165, 165);
    text-align:center;

}
#enviar{
    font-size: 30px;
    text-align: center;
    background: white;
    color: rgb(43, 43, 43);
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid rgb(56, 56, 56);
}
#enviar:hover {
    background: rgb(114, 114, 114);
    color: white;
}

#divenviar{
    padding-top: 10%;
    text-align: center;
}

#passwd{
    font-size: 17px;
}
#nombre{
    font-size: 17px;
}
#correo{
    font-size: 17px;

}

#atrasdiv{
    padding-left: 95%;
}

#atras{

    font-size: 20px;
    background-color: rgb(119, 119, 119);
    color: white;
    border-radius: 5%;
    text-align: right;
}
#atras:hover{

    color :black;
    background-color: rgb(255, 255, 255);

}
button{
    cursor:pointer;
}
ul{
width: 40%;
margin: auto;
text-align: left;
}